CREATE TABLE DEPARTMENT (
 dname varchar(25) not null,
 dnumber int(10) not null,
 mgrstartdate date,
 primary key (dnumber) );

CREATE TABLE EMPLOYEE (
 fname varchar(15) not null, 
 minit varchar(1),
 lname varchar(15) not null,
 ssn INT(15), 
 bdate date,
 address varchar(50),
 sex char(10),
 salary decimal(10,2),
DNO INT(10),
 primary key (ssn),
 foreign key (dno) references DEPARTMENT(dnumber));

CREATE TABLE DEPENDENT (
 essn INT(9),
 dependent_name varchar(15),
 sex char(10),
 bdate date,
 relationship varchar(8),
foreign key (essn) references EMPLOYEE(ssn)
);

CREATE TABLE DEPT_LOCATIONS (
 dnumber int(10),
 dlocation varchar(15), 
foreign key (dnumber) references DEPARTMENT(dnumber)
);

CREATE TABLE PROJECT (
 pname varchar(25) not null,
 pnumber int(10),
 plocation varchar(15),
 dnum int(10),
 primary key (pnumber),
 foreign key (dnum) references DEPARTMENT(dnumber)
);

CREATE TABLE WORKS_ON (
 essn INT(9),
 pno int(10),
 hours decimal(4,1),
foreign key (essn) references EMPLOYEE(ssn),
foreign key (pno) references PROJECT(pnumber)
);

INSERT INTO DEPARTMENT VALUES ('Research','5','1978-05-22');
INSERT INTO DEPARTMENT VALUES ('Administration','4','1985-01-01');
INSERT INTO DEPARTMENT VALUES ('Headquarters','1','1971-06-19');
INSERT INTO DEPARTMENT VALUES ('Software','6','1999-05-15');
INSERT INTO DEPARTMENT VALUES ('Hardware','7','1998-05-15');
INSERT INTO DEPARTMENT VALUES ('Sales','8','1997-01-01');

INSERT INTO EMPLOYEE VALUES ('Jared','D','James','111111100','1966-10-10','123 Peachtree, 
Atlanta, GA','M','85000.00','6');

INSERT INTO DEPENDENT VALUES ('333445555','Alice','F','1976-04-05','Daughter');

INSERT INTO DEPT_LOCATIONS VALUES ('1','Houston');

INSERT INTO PROJECT VALUES ('ProductY','2','Sugarland','5');

INSERT INTO WORKS_ON VALUES ('333445555','10','10.0');

alter table department add mgrssn int(10);

alter table department add foreign key(mgrssn) references employee(ssn);

alter table employee add superssn int(10);

alter table employee add foreign key(super_ssn) references employee(ssn);

update department set mgrssn=111111100 where dnumber=1;

update employee set superssn=111111100 where dno=1;

i. Retrieve the name and address of all employees who work for the ‘Research’ department.

select e.fname,e.address from employee e, department d where d.dname="Research" and d.dnumber = e.dno;

ii. For every project located in ‘Stafford’, list the project number, the controlling department number, and the department manager’s last name, address, and birth date.

select p.pnumber,p.dnum,e.lname,e.address,e.bdate from project p, department d, employee e where p.plocation="Stafford" and p.dnum= d.dnumber and d.mgrssn=e.ssn;


iii. For each employee, retrieve the employee’s first and last name and the first and last name of his or her immediate supervisor.

select e.fname,e.lname,s.fname,s.lname from employee as e, employee as s where s.superssn=e.ssn;

iv. Make a list of all project numbers for projects that involve an employee whose last name is ‘Smith’, either as a worker or as a manager of the department that controls the project.

(select distinct pnumber from project,department,employee where dnum=dnumber and mgrssn=ssn and lname="Smith") union
 (select distinct pnumber from project,works_on,employee where pnumber=pno and essn=ssn and lname="Smith");


v. Retrieve all employees whose address is in Houston, Texas.

select fname,minit,lname from employee where address="Houston,Texas,";

vi. Retrieve all employees in department 5 whose salary is between $30,000 and $40,000.

select * from employee where dno=5 and salary >=30000 and salary <=40000;
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

CREATE database BANK;

USE BANK;

CREATE TABLE BRANCH (
BNAME VARCHAR(10) PRIMARY KEY,
CITY VARCHAR(10),
ASSETS REAL);

INSERT INTO BRANCH VALUES('MAIN','BLR',2500000); 

CREATE TABLE ACCOUNT (
ACCNO INT(10) PRIMARY KEY,
BNAME VARCHAR(10),
BALANCE REAL,
FOREIGN KEY(BNAME) REFERENCES BRANCH(BNAME));

INSERT INTO ACCOUNT VALUES(1,'MAIN',25000);

CREATE TABLE CUST (
CNAME VARCHAR(10) PRIMARY KEY,
CSTREET VARCHAR(10) NOT NULL,
CITY VARCHAR(10) NOT NULL);

INSERT INTO CUST VALUES('STAN','BAKER STREET','BLR');

CREATE TABLE DEPOSITOR (
CNAME VARCHAR(10),
ACCNO INT(10),
PRIMARY KEY(CNAME,ACCNO),
FOREIGN KEY(ACCNO) REFERENCES ACCOUNT(ACCNO) ON DELETE CASCADE,
FOREIGN KEY(CNAME) REFERENCES CUST(CNAME) ON DELETE CASCADE);

INSERT INTO DEPOSITOR VALUES('HOUSE',22);

CREATE TABLE LOAN(
LNO INT(10) PRIMARY KEY,
BNAME VARCHAR(10) NOT NULL,
AMT REAL,
FOREIGN KEY(BNAME) REFERENCES BRANCH(BNAME) ON DELETE CASCADE);

INSERT INTO LOAN VALUES(1,'MAIN',5000);

CREATE TABLE BORROWER(
CNAME VARCHAR(10),
LNO INT(10),
PRIMARY KEY(CNAME, LNO),
FOREIGN KEY(CNAME) REFERENCES CUST(CNAME) ON DELETE CASCADE,
FOREIGN KEY(LNO) REFERENCES LOAN(LNO) ON DELETE CASCADE);

INSERT INTO BORROWER VALUES('ERIC',2);

1)Find all the customers who have at least two accounts at the Main branch.
SELECT customer_name
 FROM depositor d,account a
 WHERE d.accno=a.accno
 AND a.branch_name='Main'
 GROUP BY d.customer_name
 HAVING COUNT(d.customer_name)>=2;

2)Find all the customers who have an account at all the branches located in a specific city.


 SELECT d.customer_name
 FROM account a,branch b,depositor d
 WHERE b.branch_name=a.branch_name AND
 a.accno=d.accno AND
 b.branch_city='c3'
 GROUP BY d.customer_name
 HAVING COUNT(distinct b.branch_name)=(
 SELECT COUNT(branch_name)
 FROM branch
 WHERE branch_city='c3');


3)Demonstrate how you delete all account tuples at every branch located in a specific city.

SELECT * FROM ACCOUNT;

delete from account 
where accno in (select a.accno 
 from account a, branch b 
 where a.branch_name=b.branch_name and b.branch_city='Bangalore');

SELECT * FROM ACCOUNT
